.page_container {
    background-color: #09013B !important;
}


.waves {
    width: 100%;
    position: absolute;
}

.waves.top {
    top: 0;
    left: 0;
    z-index: 0;
}

.waves.bottom {
    bottom: 0;
    left: 0;
    z-index: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_box {
    height: 35vh;
    width: 30vw;
    margin-top: 25vh;
    background-color: rgb(172 172 172 / 8%);
    border-radius: 25px;
}

.login_box>img {
    margin-inline: 4vw;
    position: relative;
    top: -5vh;
    width: 22vw;
}

.body {
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-inline: 2vw;
}

/* .body button{
    border-radius: 8px;
    border: 3px solid transparent;
    background: linear-gradient(150deg,#1CE8BB,#EFABFF) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
} */


.body button {
    background-color: transparent !important;
    border: 0px;
    position: relative;
    display: flex;
    align-items: center;
    animation-duration: 2s;
}

.body button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 3px;
    background: linear-gradient(150deg, #1CE8BB, #EFABFF) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.body button:hover {
    background: linear-gradient(150deg, #1CE8BB, #EFABFF) border-box;
}

.body > button > svg{
    height: 1rem;
    padding-right: 5px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 2rem;
}

footer {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

footer>div {
    background-color: transparent !important;
}